body {
  font-family: 'Source Serif 4', Georgia, Cambria, 'Times New Roman', Times, serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 640px) {
  .feature-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
